build/
build32/
obj*
debian/libtas/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/libtas.debhelper.log
debian/libtas.substvars
*.o
*_moc.cpp
src/library/libtas.so
src/library/libtas32.so
src/program/libTAS

autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
.deps
.dirstamp
