[Desktop Entry]
Type=Application
Name=libTAS
Comment=Tool-assisted speedrunning tool for native games
Exec=libTAS
Icon=libTAS
Categories=Utility;
Terminal=true
